/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/*movil*/
    html{
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.1rem;
    }

    #navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #navbar > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #navbar ul li{
        display: inline;
    }
    /*CAMBIAR IMG SLACK*/
    #navbar > div > img:nth-child(1){
        width:120px ;
        
    }

/*botones google*/
    .div-column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }   
    .div-column button{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
    #google img{
        background-color: white;
        width: 50px;
        display: flex;
        margin-right:24% ;
        /*justify-content: center;
        align-items: center;
        align-content: flex-start;*/
    }
    #google{
        display: flex;
        color: white;
        border: none;
        background-color: #4285F4;
        border-radius: 2%;
        justify-content: flex-start;
        align-items: center;
    }
    #email{
        color: #540B51;
        border: none;
        border-radius: 2%;
        height: 58px;
    }

    .header1{
        color: white;
    }

    .header1 > div > p > span{
        color: #ECB12F;
    }

    body{
        background-color: #540B51;
        text-align: center;
    }
    .title1{
        color: white;
    }
    #navbar ul li{
        display: none;
    }
    .botones{
        display: flex;
        margin-left: 200px;
        margin-top: 0px;
        gap:20px;
        align-items:center;/*ICONOS PEQUEÑOS DE LA DERECHA*/
    }
    .botones > button{
        background: none;
        border: none;
    }
    .marcas p{
        justify-content: center;
        align-items: flex-start;
    }
    .marcas{
        background-color: #F3EAE2;
        flex-direction: column;
        display:flex;

    }
    .marcas p{
        text-transform: uppercase;
    }
    #marcas2{
        
        flex-wrap: wrap;
    }
    #marcas2>*{
        
        height: 150px ;
    
    }
    #stats{
        background-color: white;
        
    }
    #stats h3{
        color: #540B51;
    }
    #stats span{
        color: #540B51;
        font-size: 2rem;
    }
    #try{
        color: #540B51;
        border-radius: 5px;
        border: none;
    }
    #talk{
        background-color: #540B51;
        color: white;
        border-color: white;
        border-radius: 5px;
    }
    footer {
        background-color: white;
        line-height: 50px;
        
    }
    footer ul{
        list-style: none;
       text-align:  left;
    }
    #social{
        display:flex;
    }
    #social ul l{
        display: inline
        ;

    }
    /*tablet*/
@media (width < 990px){
    
}